.section-header {
    margin-bottom: em(32);

    .btn {
        margin-top: em(64);
    }
}

.section--title {
    margin-bottom: 0;
}

.setion-desc {
    margin-top: em(16);
    font-size: em(15);
    line-height: 1.6;
}